body, html{
  height: 100% ;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container{
display: grid;
height: 100%;
grid-template-columns: 1fr;
grid-template-rows: repeat(5, 1fr);
gap: 1%;
}
.feature1{
  background-color: orange;
  grid-row: 1;
}
.feature2{
  background-color: plum;
  grid-row: 2;
}
.grid1{
  background-color: green;
  grid-row: 3;
}
.grid2{
  background-color: yellow;
  grid-row: 4;
}
.grid3{
  background-color: lightblue;
  grid-row: 5;
}
.centre{
  display: grid;
  justify-items: center;
  align-items: center;
  }

  @media (min-width: 520px) {
  .container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 3fr repeat(4, 1fr);
    gap: 1%;
}
  }
.feature1{
  background-color: orange;
  grid-area: 1 / 1 / 4 / 4;
  
}
.feature2{
  background-color: plum;
  grid-area: 1 / 4 / 4/ 7;
}
.grid1{
  background-color: green;
  grid-area: 4 / 1 / 6 / 3;
}
.grid2{
  background-color: yellow;
  grid-area:  4 / 3 / 6 / 5; 
}
.grid3{
  background-color: lightblue;
  grid-area: 4 / 5 / 6 / 7;
}
  }